:root {
  --background-color: #eaeaea;
  --border: 1px solid #ccc;
  --page-border: 1px solid #000;
  --link-color: #007bff;
  --btn-background-color: #cfe6ff;
  --btn-text-color: #000;
  --btn-hover-background-color: #6fb5ff;
  --btn-hover-text-color: #fff;
  --btn-active-background-color: #007bff;
  --btn-active-text-color: #fff;
}

.hide { 
  display: none!important;
}
.show {
  display: block!important;
}

body {
  font-family: Arial, sans-serif;
  padding: 20px;
  min-width: 520px;
  background-color: var(--background-color);
}

#uplad-download-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

#global-toolbar {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  border: var(--border);
  
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: var(--background-color);

}

#pages-container {
  margin-top: 20px;
}

.page {
  border: var(--border);
  padding: 10px;
  margin-bottom: 20px;
}

.canvas-container {
  overflow-x: auto;
}

canvas {
  border: var(--page-border);
  display: block;
  margin-bottom: 10px;
}

.toolbar {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;

  position: sticky;
  top: 50px;
  z-index: 1000;
  background-color: var(--background-color);

}

#language-selector {
  position: absolute;
  top: 10px;
  right: 10px;
  display: none; /* Спрятан по умолчанию зависит от .hide/.show */
}

button:not(#save-btn) {
  padding: 5px 10px;
  background-color: var(--btn-background-color);
  color: var(--btn-text-color);
  cursor: pointer;
}

button:hover:not(#save-btn) {
  background-color: var(--btn-hover-background-color);
  color: var(--btn-hover-text-color);
}

button.active:not(#save-btn),
button:active:not(#save-btn) {
  background-color: var(--btn-active-background-color);
  color: var(--btn-active-text-color);
}

#cursor {
  pointer-events: none;
  position: fixed;
  width: 25px;
  height: 25px;
  top: -100px;
  left: -100px;
  opacity: 0.5;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

a:hover {
  text-decoration: underline;
}

footer {
  text-align: center;
  padding: 20px;
  font-size: 14px;
}

footer a {
  margin: 0 10px;
} 
